# Ignore node_modules directory
node_modules/

# Ignore build output directories
.next/
dist/
out/

# Ignore cache files
.cache/
.DS_Store

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
